html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f7f3f3;}
.drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #f9f9f9;
    /* Add any other styling you'd like */
  }

  .box {
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
  }